.banner{
    max-width: 1310px;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px ;
}