.wrapper{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 7px;
    border-radius: 6px;
    &:hover{
        background-color: red;
        cursor: pointer;
        color: whitesmoke;
    }
    img{
        width: 18px;
        height: 18px;
        margin: 6px;
    }
    span{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
    }
}